<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test_Form_Manipulation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test_Form_Manipulation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Test_Form_Manipulation.Properties.Settings.scimConnectionString"
            connectionString="server=localhost;user id=root2;password=;persistsecurityinfo=True;database=scim"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Test_Form_Manipulation.Properties.Settings>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
            <setting name="oktasession" serializeAs="String">
                <value />
            </setting>
            <setting name="oktastate" serializeAs="String">
                <value />
            </setting>
            <setting name="oktafactorid" serializeAs="String">
                <value />
            </setting>
            <setting name="oktauserid" serializeAs="String">
                <value />
            </setting>
            <setting name="localusername" serializeAs="String">
                <value />
            </setting>
        </Test_Form_Manipulation.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Test_Form_Manipulation.Properties.Settings>
            <setting name="cloudLoginOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="oktatenant" serializeAs="String">
                <value>{okta domain without HTTP, i.e. test.oktapreview.com}</value>
            </setting>
            <setting name="oktaapitoken" serializeAs="String">
                <value>{Put it in you Okta API Key}</value>
            </setting>
        </Test_Form_Manipulation.Properties.Settings>
    </applicationSettings>
</configuration>